{% extends 'base/base.html' %}

{% block title %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block body %}


<div id="title">
    <h1> HIGHFLYER </h1>
    <h3>Make your building sustainable again</h3>
</div>
<div id="block">
    <div id="description">

            <h2>STRUCTURAL DEFECTS</h2>
        <hr id="lign">
            <p>Let us detect cracks, molds and blisters to ensure the entire safety of your building. Our autonomous tool gives us the access to each place of your building.</p>
        </div>

    <div id="block1"><img src="../static/pictures/crack.jpg" alt="crack1s" id="crack"></div>
</div>

<div id="block2">
       <div id="block3">
        <img src="../static/pictures/thermalcamera.jpg" alt="crack1s" id="crack">
    </div>
    <div id="description2">

            <h2>THERMAL LEAKS</h2>
        <hr id="lign">
            <p>Your building may not be energy efficient enough anymore. Our expertise will give you a precise idea of the thermal health of your building.</p>
    </div>



</div>


{% endblock %}


