{% extends 'base/base.html' %}
 
{% block title %}Report{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
{% endblock %}

{% block body %}

    {# Report title + Time select #}
    <div class="my-5 pt-5 d-flex flex-column flex-justify-center align-items-center">
        <h1>REPORT</h1>
        <div>
            <label>
                <h3>Building "{{building_name}}", at</h3>    
            </label>
            <select id="report-date-select" class="form-select d-inline mx-2">
                {% for date, data in time_analysis.items() %}
                    <option value="{{date}}">{{data.readable_date}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {# Big images + Graph #}
    <div class="container py-5">
        <div class="row">

        {# Big images #}
          <div class="col-12 col-md-6 pt-5">
            <div>
                <h2>BUILDING IMAGES</h2>
                <hr class="line" />
            </div>

            <nav>
                <div class="nav nav-tabs mb-3" role="tablist">
                    <button class="nav-link active" id="big-original-image-tab" data-bs-toggle="tab" data-bs-target="#big-original-image-data" type="button" role="tab" aria-controls="big-original-image-data" aria-selected="true">Original</button>
                    <button class="nav-link" id="big-annotated-image-tab" data-bs-toggle="tab" data-bs-target="#big-annotated-image-data" type="button" role="tab" aria-controls="big-annotated-image-data" aria-selected="false">Annotated</button>
                </div>
            </nav>   

            <div class="d-flex flex-column justify-content-center align-items-center"> 
                <div class="tab-content">
                    
                    <div class="tab-pane fade show active" id="big-original-image-data" role="tabpanel" aria-labelledby="big-original-image-tab">
                        <table>
                            <tbody>
                                {% for original_image_row in time_analysis[time_chosen].big_original_image_matrix %}
                                    <tr>
                                        {% for original_image_column in original_image_row %}
                                            <td>
                                                <img src="/{{ original_image_column }}" alt="" width="200" height="200">
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
    
                    <div class="tab-pane fade" id="big-annotated-image-data" role="tabpanel" aria-labelledby="big-annotated-image-tab">
                        <table>
                            <tbody>
                                {% for result_image_row in time_analysis[time_chosen].big_result_image_matrix %}
                                    <tr>
                                        {% for result_image_column in result_image_row %}
                                            <td>
                                                <img src="/{{ result_image_column }}" alt="" width="200" height="200">
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
    
                </div>
            </div>
          </div>

        {# Issue frequency graph #}
            <div class="col-12 col-md-6 pt-5">
                <div>
                    <h2>ISSUES FREQUENCY</h2>
                    <hr class="line" />
                </div>
                <div>
                    <div id="report-issues-frequency-chart" style="width:auto;height:60vh;"></div>
                    <meta id="report-issues-frequency-data" content='{{ time_analysis[time_chosen].class_name_frequency|tojson }}'>
                </div>
            </div>

        </div>
    </div>

    <hr>

    {# Analysis list #}
    <div class="container py-5">
        <div class="row justify-content-between">
          <div class="col-12 col-md-6">
            <div>
                <h2>BUILDING ANALYSIS LIST</h2>
                <hr class="line" />
            </div>
          </div>
          <div class="col-12 col-md-12 d-flex d-row justify-content-end align-items-start">
            <select id="report-issue-select" class="form-select mx-3">
                <option value="all">All</option>
                <option value="nothing">Safe</option>
                <option value="issue">Issue</option>
                <option value="crack">Cracks</option>
                <option value="thermal-leak">Thermal leaks</option>
                <option value="mold">Molds</option>
            </select>
            <btn id="analysis-table-download-btn" class="btn btn-primary">Download</btn>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table my-4">
                    <thead>
                        <tr>
                            <th col-index="1" scope="col">Original image</th>
                            <th col-index="2" scope="col">Result image</th>
                            <th col-index="4" scope="col">Issues</th>
                        </tr>
                    </thead>
                    <tbody id="analysis-table-tbody">
                        {% for analysis_data in time_analysis[time_chosen].analysis_results %}
                            <tr>
                                <td scope="row">
                                    <img src="/{{ analysis_data.original_image }}" alt="Original image" width="200" height="200">
                                </td>
                                <td scope="row">
                                    <img src="/{{ analysis_data.result_image }}" alt="Result image" width="200" height="200">
                                </td>
                                <td scope="row">
                                    {% for class_name, nb in analysis_data.issues_nb.items() %}
                                        <p class="issue_class" class_name="{{class_name}}">
                                            {{ class_name }} ({{ nb }}) 
                                        </p>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}

