{% extends 'base/base.html' %}
 
{% block title %}Report{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
{% endblock %}

{% block body %}
    <div class="report-title">
        <h1>REPORT for building "{{building}}" at date "{{date}}"</h1>
    </div>

    <div class="report-issues-frequency">
        <h2>Buildings issues frequency</h2>

        {% for class_name in class_name_frequency %}
            <ul class="list-group">
                <li class="list-group-item">
                    {{ class_name }} : {{ class_name_frequency[class_name] }} %
                </li>
            </ul>
        {% endfor %}
    </div>

    <div class="big-original-image">
        <h2>Big building original image</h2>

        <table>
            <tbody>
                {% for original_image_row in big_original_image_matrix %}
                    <tr>
                        {% for original_image_column in original_image_row %}
                            <td>
                                <img src="/{{ original_image_column }}" alt="" width="200" height="200"> 
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="big-result-image">
        <h2>Big building result image</h2>

        <table>
            <tbody>
                {% for result_image_row in big_result_image_matrix %}
                    <tr>
                        {% for result_image_column in result_image_row %}
                            <td>
                                <img src="/{{ result_image_column }}" alt="" width="200" height="200"> 
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="report-analysys-list">
        <h2>Buildings analysys list</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Analysis id</th>
                    <th scope="col">Original image</th>
                    <th scope="col">Result image</th>
                    <th scope="col">Issues</th>
                </tr>
            </thead>
            <tbody>
                {% for analysis_data in analysis %}
                    <tr>
                        <td scope="row">
                            {{ analysis_data.metadata.analysis_id }}
                        </td>
                        <td scope="row">
                            <img src="/{{ analysis_data.original_image }}" alt="Original image" width="200" height="200"> 
                        </td>
                        <td scope="row">
                            <img src="/{{ analysis_data.result_image }}" alt="Result image" width="200" height="200">
                        </td>
                        <td scope="row">
                            <ul class="list-group">
                                {% for prediction_data in analysis_data.predictions %}
                                    <li class="list-group-item">
                                        "{{ prediction_data.class.name }}" with fiability of {{ prediction_data.confidence }}%
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}