/* TITLES */
h1 {
	color : #1c1c21;
	text-align: center;
	font-family: Castellar, serif;
	font-size: 85px;
	scroll-behavior: smooth;
	animation: h1-animation 1s;
}
@keyframes h1-animation  {
	from{
		font-size :75px;
	}
	to{
		font-size: 85px;
	}
}
h2 {
	font-family: calibri;
	font-weight: bold;
	color : #1c1c21;
}
h3 {
	color : #1c1c21;
	text-align: center;
	font-family: calibri;
	font-size: 27px;
	font-weight: lighter;
	font-style: italic;
}
/* DESCRIPTION */
.title-description {
	color : #444a46;
	text-align: justify;
  }
/* LINE */
.line {
	color:#092063;
	background-color: #092063;
	width: 20%;
	height: 3px;
	margin-left: 40px;
	margin-bottom: 5%;
  }
/* PAGE */
body {
	margin:0;
	font-family: calibri;
	font-size: 25px;
	background-color: #f6f6f8;
	scroll-behavior: smooth;
}
/* FORM */
input, select {
	background-color: #f6f6f8 !important;
}
/* TABLES */
table{
	border : 1.5px solid #7b8090;
}
thead{
	background-color: #e0e0e3;
	color: #505a72;
	text-align: center;

}
th, td{
	text-align: center;
    vertical-align: middle;
	border: solid 1px #7b8090;
}
tr{
	cursor: pointer;
}
tr:hover{
    background-color: #e0e0e3;
    transition: 0.5s;
}
/* HEADER */
#app-header {
	padding: 10px;
	display: flex;
	height: 80px;
	color: black;
	justify-content: space-between;
	flex-wrap: nowrap;
	background-color: #1c1c21;
	margin-bottom: 2%;
	animation: header-animation 1s;
}
@keyframes header-animation {
	from{
		height : 75px;
   }
	to{
		height : 80px;
   }
}
#app-header-logo {
	width: 60px;
}
/* FOOTER */
#app-footer{
	background-color: black;
	height: 70px;
}
/* NAV */
.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
	background-color: #444a46 !important;
	color: white !important;
}
.nav-tabs .nav-link, .nav-tabs .show > .nav-link {
	background-color: transparent !important;
	color: black !important;
}
