html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
    position: relative;
    font-family: calibri;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}
h1{
    margin-top : 8%;
    font-weight: bold;
    animation: titre 1s;
    font-size: 40px;
    color: #505a72;
    margin-left: 20%;
}
h2{
    margin-bottom: 3%;
    font-weight: bold;
    text-align: center;
}
#home_table{
  width: 60%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 3%;
}
tr:hover{
    background-color: #f6f6f8;
    transition: 0.5s;
}

.table{
  border : 1.5px solid #7b8090;
}

thead{
    background-color: #f6f6f8;
    color: #505a72;
    text-align: center;

}
th, td{
  text-align: center;
    border: solid 1px #7b8090;
}

.col1{
    width: 150px;
}
