#report-date-select {
    width: 150px;
}

#report-issue-select {
    width: 150px;
}

#thermal-fixed-btn {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 15px; 
    z-index: 2;
}